{% extends 'base.html.twig' %}
{% block content %}

    <br><br><br><br>

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login p-md-5 p-4">
                        <form action="#" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-3">
                                    <label>First name</label>

                                    <input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
                                </div>
                                <div class="form-group col-md-6 mb-3">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" id="validationDefault02" placeholder="" required="">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Password</label>
                                    <input type="password" class="form-control" id="password1" placeholder="" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="password2" placeholder="" required="">
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary submit mb-4">Register</button>
                            <p>
                                <a href="#" class="modal-btm-text">By clicking Register, I agree to your terms</a>
                            </p>
                        </form>

                    </div>

                </div>
            </div>
        </div>

{% endblock %}