{% extends 'default/index.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('css/flexslider.css') }}" type="text/css" media="screen" property="" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('css/fontawesome-all.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css2/owl.carousel.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('css2/owl.theme.css') }}" type="text/css" media="all">
    <link rel="stylesheet" href="{{ asset('css2/style2.css') }}" type="text/css" media="all" />
{% endblock %}
{% block content %}
    <br><br><br><br><br>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Ajout offre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login p-md-5 p-4">
                    <form action="{{ path('ajoutOffre') }}" method="post">

                           <center><div class="form-group col-md-6 mb-3">
                                <label>Type</label>

                                <input type="text" name ="type" class="form-control" id="validationDefault01" placeholder="" required="">
                            </div></center>

                           <center> <div class="form-group col-md-6 mb-3">
                                <label>Description</label>
                                <textarea id="story" name="desc"
                                             rows="5" cols="33">

                                </textarea>
                               </div></center>



                            <center><div class="form-group col-md-6">
                                <label>Prix</label>
                                <input type="text" name="prix" class="form-control" id="validationDefault02" placeholder="" required="">
                            </div></center>
                        <center><div class="form-group col-md-6">
                                <label>Age minimale</label>
                                <select name="agemin" class="form-control">
                                    <option value="1">1</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                </select>
                            </div></center>
                            <center><div class="form-group col-md-6">
                                <label>Age maximale</label>
                                <select name="agemax" class="form-control">
                                    <option value="1">1</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>

                                </select>
                            </div></center>


<br><br>
                        <center><button type="submit" class="btn btn-primary submit mb-4">Ajouter l'offre</button></center>

                    </form>

                </div>

            </div>
        </div>
    </div>





    <section class="banner-w3layouts-bottom py-lg-5 py-3">
        <div class="container py-lg-4 py-3">
            <div class="inner-sec-agileits-w3ls">
                <div class="owl-carousel owl-theme">

                    {% for i in Offre  %}
                    <div class="item" style="width:850px">
                    <div class="lm-item lm-item-2">
                        <div class="lm-item-top">
                            <span class="lm-item-title lm-underline">{{ i.typeOffre }}</span>
                            <div class="lm-item-price">{{ i.prix }}
                                <span>/ par an</span>
                            </div>

                        </div>
                        <div class="lm-item-body">

                            <ul class="lm-item-list">
                                <li>
                                    <strong>Description</strong> {{ i.descriptionOffre }}</li>
                                <li>
                                    <strong>Age min</strong> {{ i.AgeMin }}</li>
                                <li>
                                    <strong>Age max</strong> {{ i.AgeMax }} </li>
                                <input type="text" name="ido" value="{{ i.Id }}" hidden>

                            </ul>
                            <div class="buy-button">

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1{{ i.Id }}">Modifier</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2{{ i.Id }}">Supprimer</button>

                            </div>
                        </div>
                        <div class="lm-item-bottom"></div>
                    </div>
                </div>
                    {% endfor %}





















                </div>
            </div>
        </div>
    </section>

{% for i in Offre %}

    <div class="modal fade" id="exampleModal1{{ i.Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">{{ i.typeOffre }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login p-md-5 p-4">
                        <form action="#" method="POST">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea id="story" name="story"
                                          rows="5" cols="33">
{{ i.descriptionOffre }}
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label>Prix</label>
                                <input type="text" value="{{ i.prix }}" name="mdp" class="form-control" id="exampleInputPassword1" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label>Age minimale</label>

                                <select class="form-control" name="agence">
                                    <option value="{{ i.AgeMin }}">{{ i.AgeMin }}</option>
                                    <option value="1">1</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Age maximale</label>

                                <select class="form-control" name="agence">
                                    <option value="{{ i.AgeMax }}">{{ i.AgeMin }}</option>
                                    <option value="1">1</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                </select>
                                <input type="text" value="{{ i.Id }}" hidden>
                            </div>

                            <button type="submit" class="btn btn-primary submit mb-4">Modifier</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModal2{{ i.Id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel1">Voulez-vous vraiment supprimer l'offre...?</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <input type="text" value="{{ i.Id }}" hidden>
                </div>
                <div class="modal-body">
                    <div class="login p-md-5 p-4">
                        <form action="#" method="POST">



                            <center><button type="submit" class="btn btn-primary submit mb-4">Supprimer</button></center>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}























    <script src="{{ asset('js2/jquery-2.2.3.min.js') }}"></script>
    <!-- carousel -->
    <script src="{{ asset('js2/owl.carousel.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    900: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false,
                        margin: 20
                    }
                }
            })
        })
    </script>
    <!-- //carousel -->
    <!-- stats -->

    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- flexSlider -->

    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- //flexSlider -->
    <!-- start-smooth-scrolling -->

    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
             var defaults = {
             containerID: 'toTop', // fading element id
             containerHoverID: 'toTopHover', // fading element hover id
             scrollSpeed: 1200,
             easingType: 'linear'
             };
             */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

